@model ServicePlatform.Areas.CPQ.ViewModels.AdminCRUD.EditQuestion_M
@{
    Layout = ViewData["Layout"].ToString();
    var optionNumber = 1;
    var optionID = "optionName";
    var divID = "optionParent";
}
<script src="~/Areas/CodeManager/Content/Easyui/jquery.min.js"></script>

<div class="col-md-12">
    <ol class="page-breadcrumb breadcrumb">

        <li><a href=@Url.Action("createdQuestionnaireList", "Admin", new { area = "CPQ", ReportID = "CPQ已创建的问卷列表",Params=";" })>已创建的问卷列表</a><i class="fa fa-angle-right"></i></li>
        <li><a href=@Url.Action("editQuestionnaire", "Admin", new { area = "CPQ", ReportID = "CPQ编辑问卷", Params = "10385-14093-201608290428;;" })>编辑问卷页面</a><i class="fa fa-angle-right"></i></li>
    </ol>

</div>
<div class="col-md-6">
    <!-- BEGIN SAMPLE FORM PORTLET-->
    <div class="portlet ">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-reorder"></i>@ViewBag.Title
            </div>
        </div>
        <div class="portlet-body form">
            

                    <input type="text" name=QuestionID id=QuestionID value=@Model.Question.QuestionID hidden="hidden">


                    @if (Model.Question.QuestionType == 1 || Model.Question.QuestionType == 2)
                    {
                        <div class="form-group">
                            <label class="col-md-3 control-label">题目内容</label>
                            <div class="col-md-9">
                                <input type="text" name="QuestionName" id="QuestionName" value=@Model.Question.QuestionName class="form-control">

                            </div>
                        </div>

                        foreach (var temp in Model.Question.QuestionOptions)
                        {
                            <div class="form-group" id=@divID@temp.Sequence>
                                <label class="col-md-3 control-label" id="label">选项 @temp.Sequence</label>
                                <div class="col-md-9">

                                    <input type="text" name=@optionID@optionNumber id=@optionID@optionNumber value=@temp.OptionName class="form-control"><a href="#" onclick="claika(this)" title="点击删除选项">-</a>
                                   

                                </div>
                            </div>
                            optionNumber++;

                        }

                        
                        
                        
                        
                        <div class="form-actions fluid">
                            <div class="col-md-offset-3 col-md-9">
                                <button id="addOption" class="btn btn-success">添加选项</button>

                            </div>
                        </div>


                        <div class="form-actions fluid">
                            <div class="col-md-offset-3 col-md-9">
                                <button id="addOption" class="btn btn-success" onclick="saveQuestion()">保存修改</button>

                            </div>
                        </div>
                    }

                    else if (Model.Question.QuestionType == 3)
                    {

                        <input type="text" name=QuestionID id=QuestionID value=@Model.Question.QuestionID hidden="hidden">



                        <div class="form-group">
                            <label class="col-md-3 control-label">题目内容</label>
                            <div class="col-md-9">
                                <input type="text" name="QuestionName" id="QuestionName" value=@Model.Question.QuestionName class="form-control">
                                
                            </div>
                        </div>
                        
                        <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-9">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                    </div>

                         
                      
                        
                        
                        <div class="form-actions fluid">
                            <div class="col-md-offset-3 col-md-9">
                                <button id="addOption" class="btn btn-success" onclick="saveQuestion_fill()">保存修改</button>

                            </div>
                        </div>


                    }



                </div>

        </div>
    </div>
<script>


    $("#addOption").bind("click", function () {

        var i = $("input[name^='optionName']").length + 1;//看着是第几个选项

        var j = i - 1;
        var divID = "optionParent" + i;


        var labeltext = "选项" + i;
        var inputtext = "optionName" + i;

        var clone = "<div class='form-group' id=" + divID + "> <label class='col-md-3 control-label' id='label'>"
            + labeltext + "</label> <div class='col-md-9'>"
            + "<input type='text' name=" + inputtext + " " + "placeholder='请输入选项内容'"+"class='form-control'" + " " + "id=" + inputtext + "><a href='#' onclick='claika(this)' title='点击删除选项' >-</a></div></div>"

        $("#optionParent" + j).after(clone);//在最后一个选项再追加一个选项

    });

    function claika(obj) {
        obj.parentNode.parentNode.remove();
        $("input[name^='optionName']").each(function (index) {
            var update = index + 1;
            $(this).attr("name", "optionName" + update);
            $(this).attr("id", "optionName" + update);


        });
        $("label[id='label']").each(function (index) {
            var updatelabel = index + 1;
            $(this).text("选项" + updatelabel);

        });


        $("div[id^='optionParent']").each(function (index) {
            var updatediv = index + 1;

            $(this).attr("id", "optionParent" + updatediv);

        });
    };

    function saveQuestion() {
        var QuestionOption = "";
        $("input[name^='optionName']").each(function (index) {

            QuestionOption = QuestionOption + ";" + $(this).val();

        });
        var Question = $("#QuestionID").val() + ";" + $("#QuestionName").val() + QuestionOption;


        @*@Html.ActionLink("addQuestionOther", "AdminCRUD", new { QuestionContent = Question })*@
        var s = "/AdminCRUD/editQuestion_form?QuestionContent=1;" + Question;
        window.location = s;

    }

    function saveQuestion_fill() {

        var Question = $("#QuestionID").val() + ";" + $("#QuestionName").val();
        var s = "/AdminCRUD/editQuestion_form?QuestionContent=3;" + Question;
        window.location = s;

    }
</script>
