<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --><!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
   
  </entityFramework>
  <connectionStrings>
    <!--系统设置-报表-->
    <add name="Qx.System" providerName="System.Data.SqlClient" connectionString="Data Source=scsxxt.com;;database=Qx.System;Persist Security Info=True;User ID=scsxxt;Password=scsxxt;MultipleActiveResultSets=True" />
    <add name="Qx.Wbs.Hqu" providerName="System.Data.SqlClient" connectionString="Data Source=scsxxt.com;;database=Qx.Wbs.Hqu;Persist Security Info=True;User ID=scsxxt;Password=scsxxt;MultipleActiveResultSets=True" />

    <!--正式数据-->
    <!--
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=SCSXXT.COM;Initial Catalog=Platform;Persist Security Info=True;User ID=sa;Password=Hqu33333;MultipleActiveResultSets=true" />
    <add name="Repository" providerName="System.Data.SqlClient" connectionString="Data Source=SCSXXT.COM;Initial Catalog=Platform;Persist Security Info=True;User ID=sa;Password=Hqu33333;MultipleActiveResultSets=true" />
    -->


    <!--开发数据-->

    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=SCSXXT.COM;Initial Catalog=SCSXXT_DEV;Persist Security Info=True;User ID=sa;Password=Hqu33333;MultipleActiveResultSets=true" />
    <add name="Repository" providerName="System.Data.SqlClient" connectionString="Data Source=SCSXXT.COM;Initial Catalog=SCSXXT_DEV;Persist Security Info=True;User ID=sa;Password=Hqu33333;MultipleActiveResultSets=true" />
    <add name="Qx.Scsxxt.Extentsion" providerName="System.Data.SqlClient" connectionString="Data Source=SCSXXT.COM;Initial Catalog=SCSXXT_DEV;Persist Security Info=True;User ID=sa;Password=Hqu33333;MultipleActiveResultSets=true" />
    <!--内容系统-->
    <add name="Qx.Contents" providerName="System.Data.SqlClient" connectionString="Data Source=SCSXXT.COM;database=Qx.Contents;Persist Security Info=False;User ID=sa;Password=Hqu33333;MultipleActiveResultSets=True;" />


    <!--本地数据-->

    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.31.2;Initial Catalog=SCSXXT_DEV;Persist Security Info=True;User ID=sa;Password=12345;MultipleActiveResultSets=true" />
    <add name="Repository" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.31.2;Initial Catalog=SCSXXT_DEV;Persist Security Info=True;User ID=sa;Password=12345;MultipleActiveResultSets=true" />-->


    <!--旧功能迁移-->
    <add name="Qx.Permission" providerName="System.Data.SqlClient" connectionString="Data Source=SCSXXT.COM;Initial Catalog=Qx.Permission;Persist Security Info=True;User ID=sa;Password=Hqu33333;MultipleActiveResultSets=True;MultipleActiveResultSets=true" />

  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>