@{
    ViewBag.Title = "Index";
}
@Styles.Render("/Areas/School/Content/Home/css/style.css")
@Scripts.Render("/Areas/School/Content/Home/js/jquery.js")
 <!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>学校端后台管理系统</title>
</head>
<frameset rows="88,*" cols="*" frameborder="no" border="0" framespacing="0">
    <frame src="/School/Home/_top" name="topFrame" scrolling="No" noresize="noresize" id="topFrame" title="topFrame" />
    <frameset cols="187,*" frameborder="no" border="0" framespacing="0">
        @if(@ViewBag.Type=="school")
        { 
        <frame src="/School/Home/_left" name="leftFrame" scrolling="No" noresize="noresize" id="leftFrame" title="leftFrame" />
        }
        else
        {
            <frame src="/School/Home/_left_stu" name="leftFrame" scrolling="No" noresize="noresize" id="leftFrame" title="leftFrame" />
        }
        <frame src="/School/Home/_right" name="rightFrame" id="rightFrame" title="rightFrame" />
    </frameset>
</frameset>
<noframes>
    <body>
    </body>
</noframes>
</html>


