@{
    Layout = null;
}

<!DOCTYPE html>



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>添加省份</title>

    <script src="~/Areas/CodeManager/Content/Easyui/jquery.min.js"></script>
    
    <link href="/Areas/CodeManager/Content/All/css/style.css" rel="stylesheet" type="text/css" />
    
    


</head>
<body>
    <div class="place">
            <span>位置：</span>
            <ul class="placeul">
                <li><a href="#">地区代码管理</a></li>
                <li><a href="#">修改省份</a></li>
            </ul>
        </div>

    

            <div class="formtitle"><span>修改省份</span></div>
            

    <form method="POST" action="/CodeManager/Code/ReupdateProvince">

        <ul class="forminfo">




            <li>
                <label>省份编号:</label>
                <input type="text" name="ProvinceID" id="ProvinceID" class="dfinput" value="@ViewBag.update.ProvinceID">
            </li>


            <li>
                <label>省份名称:</label>
                <input type="text" id="ProvinceName" name="ProvinceName" class="dfinput" value="@ViewBag.update.ProvinceName">
            </li>



            <li>

                <label>&nbsp;</label><input type="submit" value="保  存" class="btn">

            </li>
        </ul>



    </form>
     
    

</body>
</html>


