@model ServicePlatform.Areas.Permision2.ViewModels.Admin.RoleList_M
@{
    Layout = ViewData["Layout"].ToString();
}

<h2>@ViewBag.Title</h2>

@if(Model.roleid!=";")
{
    <div class="col-md-12">
       <ol class="page-breadcrumb breadcrumb">
           <li><a href="/Permision2/Admin/RoleList?ReportID=Permision_角色列表&Params=;">[角色列表]所有角色列表</a> <i class="fa fa-angle-right"></i></li>
       </ol>
   </div>
}

<div class="row">
    <div class="col-lg-10">
        @Html.Hidden("角色编号", "", new { PlaceHolder = "请输入要查询的角色编号（支持模糊查询）" })
    </div>
</div>

@*必须添加*@
@Html.Partial("_Report")
<script>
    function Preview() {
        var Params =
            v("角色编号");

        Query(Params, "@ViewData["Url"]");
    }
</script>