
@model ServicePlatform.Areas.AppStudent.ViewModel.Home.About_M
@Html.Partial("student_menu")
    <div class="weui-navbar">
        <div class=" weui-navbar__item colortitle">
            <div class="weui-flex ">
                <a href="javascript:submit('a');"><div><div class="placeholder"><img src="@ViewData["root"]images/return.png" class="return"></div></div></a>
                <div class="weui-flex__item "><div class="placeholder">关于实学</div></div>
                <div style="width:48px"><div class="placeholder"></div></div>
            </div>
        </div >
    </div>
    <div class="weui-tab__bd">
        <div class="weui-tab__bd-item weui-tab__bd-item--active">

            <article class="weui-article">
                <h1>关于实学</h1>
                <section>
                    <h2 class="title">实学的来源</h2>
                    <section>   
                        <h3></h3>
                        <p>
                            基于互联网+的“多院校-多企业-管理端”管理模式顶岗实习管理平台，
                            极大丰富了企业资源和高校资源，提高了资源间的结对达成度，
                            降低了结对成本。同时，也提高了同类资源间的竞争，有利于企业
                            和高校选择具有较高竞争优势的合作伙伴来完成顶岗实习，提高了
                            顶岗实习活动的总体质量，为培养出合格的实习生提供了有利的保障。
                            有效地解决了高校顶岗实习中面临的高校与企业如何互选成为实习
                            伙伴，企业之间、高校之间如何交流借鉴，企业与学生之间如何互
                            选的难题。
                        </p>
                        <p>
                            @*<img src="@ViewData["root"]./images/pic_article.png" alt="">
                            <img src="@ViewData["root"]./images/pic_article.png" alt="">*@
                        </p>
                    </section>
                    <section>
                        <h3></h3>
                        <p>

                        </p>
                    </section>
                </section>
            </article>
        </div>
    </div>
