
@{

}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>重置密码</title>

    <link href="/Areas/Enterprise/Content/Admin/css/style.css" rel="stylesheet" />

</head>

<body>

    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">重置密码</a></li>
        </ul>
    </div>


    <form method="post">
        <div class="formbody">

            <div class="formtitle"><span>重置密码</span></div>

            <ul class="forminfo">
                <li>
                    <label>新密码</label>
                    <input name="newpsw" type="password" class="dfinput" />
                    <i>*请输入 新密码</i>
                </li>
                <li>
                    <label>确认新密码</label>
                    <input name="newpsw2" type="password" class="dfinput" />
                    <i>*请再次输入 新密码</i>
                </li>
                <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="保存" /></li>
            </ul>
        </div>
    </form>
</body>
</html>
