@{
    ViewBag.Title = "C_EntRank1";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>企业等级维护</title>
    <link href="/Areas/CodeManager/Content/All/css/style.css" rel="stylesheet" type="text/css" />
    <script src="~/Areas/CodeManager/Content/Easyui/jquery.min.js"></script>
    <script src="~/Areas/CodeManager/Content/Easyui/jquery.easyui.min.js"></script>
    <script src="~/Areas/CodeManager/Content/Easyui/easyui-lang-zh_CN.js"></script>
    <link href="~/Areas/CodeManager/Content/Easyui/themes/default/easyui.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/CodeManager/Content/Easyui/themes/icon.css" rel="stylesheet" type="text/css" />
    
    


    <script src="~/Areas/CodeManager/Content/C_EntRank/js/C_EntRank.js"></script>
    
    <script language="javascript" type="text/javascript">
        function detail() {
            var SelectRow = $('#Entrtablebox').datagrid("getSelected");
            var SelectId = SelectRow.EntRankID;
            var s = "/CodeManager/Code/detailEntr?id=" + SelectId + "";
            window.location = s;
        }
        function update() {
            var SelectRow = $('#Entrtablebox').datagrid("getSelected");
            var SelectId = SelectRow.EntRankID;

            var s = "/CodeManager/Code/updateEntr?id=" + SelectId + "";
            window.location = s;
        }
    </script>


    <style type="text/css">
        .datagrid-cell {
            text-overflow: ellipsis;
            overflow: hidden;
            text-align: center;
        }
    </style>

</head>
<body>
    <div class="place">
            <span>位置：</span>
            <ul class="placeul">
                <li><a href="#">企业代码维护表</a></li>
                <li><a href="#">企业等级维护表</a></li>
            </ul>
        </div>
    <!--用于显示表格-->
    <div id="Entrtablebox">
        <table id="Entrtable"></table>
        <div id="HomeToolBar">
            <div id="TButton" style="padding:5px;">
                <div>
                    <a href="/CodeManager/Code/AddEntr" class="easyui-linkbutton" iconcls="icon-add">添加</a>
                    <a href="#" class="easyui-linkbutton" iconcls="icon-remove" onclick="obj.remove();">删除</a>
                    <a href="#" class="easyui-linkbutton" id="TB1" iconcls="icon-edit" onclick="update();">修改</a>
                    <a href="#" class="easyui-linkbutton" id="TB2" iconcls="icon-tip"  onclick="detail();">详情</a>
                     
                </div>
            </div>
            @*<div>
                    查询新闻：<input type="text" name="SearchNews" style="width=100px;" />
                    <a href="#" class="easyui-linkbutton" iconcls="icon-search" onclick="obj.search();">查询</a>
                </div>*@




         @*  <input class="easyui-searchbox" data-options="prompt:'搜索内容',menu:'#SearchItem',searcher:doSearch" style="width:300px" name="AtributeSearch"/>
             
            <div id="SearchItem">
                <div data-options="name:'all',iconCls:'icon-ok'">所有种类</div>
                <div data-options="name:'EntRankID'">等级编号</div>
                
                <div data-options="name:'EntCategoryID'">类别编号</div>
                 <div data-options="name:'EntRankName'">等级名称</div>
                 <div data-options="name:'EntCategoryName'">类别名称</div>
            *@
                 
            
            <label>请根据企业类型选择：
            </label>
            <select style="width:100px" name="EntCategoryID" class="dfinput" id="changee">
                    <option value="--请选择--">--请选择--</option>
                    @foreach (var item in ViewBag.qiye)
                    {   
                        <option  value="@item.EntCategoryName">@item.EntCategoryName</option>

                    }
                </select>
                <script>


                    $("#changee").bind("change", function () {

                        var $name = $("#changee").val();
                        $('#Entrtablebox').datagrid('load', {

                            classAttribute: "fasong",
                            classValue: $name,
                        });


                    })

                     


                  




                </script>
            </div>
        </div>
    
</body>
</html>

