body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:130px;
  top:105px;
  width:370px;
  height:635px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:635px;
}
#u1 {
  position:absolute;
  left:2px;
  top:310px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
