@{
    ViewBag.Title = "Index";
}

<h2>首页</h2>

<h1><a href="/School/Home/Index?type=school">学校端后台</a></h1>

<h1><a href="/School/Home/Index?type=student">学生端后台</a></h1>


<h1><a href="/Enterprise/Admin/">企业端后台</a></h1>

<h1><a href="/Platform/Admin/">平台端后台</a></h1>

<h1><a href="/Permission/Home/">权限系统后台</a></h1>

<h1><a href="/Home/Test">获取我的组织</a></h1>

<h1><a href="/ServiceApi/Home/">Api入口</a></h1>
