<!--公共头部-->
<head>
    <title>@ViewBag.Title </title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Html.Partial("__links_jquery")
    @Html.Partial("__links_admin")
</head>