@{
   var schoolId= ViewData["schoolId"];
}

<div class="tools">
    @using ServicePlatform.Lib
    <ul class="toolbar">
        <li>
            <label class="text text-info">年级：</label>
            @(new HtmlString(PageHelper.GetSelectHtml(new List<SelectListItem>(), "gradeId", "select2")))
            <i></i>
        </li>
        <li>
            <label class="text text-info ">专业：</label>
            @(new HtmlString(PageHelper.GetSelectHtml(new List<SelectListItem>(), "majorId", "select2")))
            <i></i>
        </li>
        <li>
            <label class="text text-info">班级：</label>
            @(new HtmlString(PageHelper.GetSelectHtml(new List<SelectListItem>(), "classId", "select2"))) <i></i>
        </li>
        <li><label id="tip" style="color: red">请选择年级</label></li>
    </ul>
</div>

<script type="text/javascript">
        var stuNos=new Array();
        $(document).ready(function() {
            GetGrades('@schoolId');

            $("#gradeId").change(function () {
                $("#tip").html("请选择专业");
                GetMajors('@schoolId',$(this).val());
            });

            $("#majorId").change(function () {
                $("#tip").html("请选择班级");
                GetClasss($(this).val());

            });

            $("#classId").change(function () {
                stuNos = new Array();
                $("#tip").html("正在加载学生列表，请稍后...");
                GetStudents($(this).val());
                //GetClasss($(this).val());
              //  document.getElementById('stunum').setAttribute("value", "班级人数:");
            });

            $("#btjs").click(function () {
                if (stuNos.length > 0) {
                    CaculateScore(stuNos);
                } else {
                    $("#tip").html("提示:当前班级没有学生,请选择其他班级！");

                }

            });


        });
        //根据学校取年级
        function GetGrades(value) {
            $.ajax({
                type: "post",
                url: "/School/ScoreQuery/GetGrades",
                data: { schoolId: value },
                dataType: "json",
                success: function (reslut) {
                    $("#gradeId option").remove();
                    $("#gradeId").append("<option value='-1'>请选择</option>");
                    $.each(reslut, function (i, item) {
                            $("#gradeId").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                        });
                },
                error: function (data) {
                    alert("请求出错！"+data);
                }
            });
        }
        //根据年级取专业
        function GetMajors(schoolId, gradeId) {
            $.ajax({
                type: "post",
                url: "/School/ScoreQuery/GetMajors",
                data: { schoolId: schoolId, gradeId: gradeId },
                dataType: "json",
                success: function (reslut) {

                    $("#majorId option").remove();
                    $("#majorId").append("<option value='-1'>请选择</option>");
                        $.each(reslut, function (i, item) {
                            $("#majorId").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                        });
                },
                error: function (xhr, type, exception)//请求失败的回调函数
                {
                    alert(xhr.responseText, "请求发生错误");
                }
            });
        }
        //根据专业取班级
        function GetClasss(value) {

            $.ajax({
                type: "post",
                url: "/School/ScoreQuery/GetClasss",
                data: { majorId: value },
                dataType: "json",
                success: function (reslut) {
                    $("#classId option").remove();
                    $("#classId").append("<option value='-1'>请选择</option>");
                        $.each(reslut, function (i, item) {
                            $("#classId").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                        });
                },
                error: function (data) {
                    alert("请求出错！" + data);
                }
            });
        }
       
      
</script>