

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>专业维护</title>
    <link href="/Areas/CodeManager/Content/All/css/style.css" rel="stylesheet" type="text/css" />
    <script src="~/Areas/CodeManager/Content/Easyui/jquery.min.js"></script>
    <script src="~/Areas/CodeManager/Content/Easyui/jquery.easyui.min.js"></script>
    <script src="~/Areas/CodeManager/Content/Easyui/easyui-lang-zh_CN.js"></script>
    <link href="~/Areas/CodeManager/Content/Easyui/themes/default/easyui.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/CodeManager/Content/Easyui/themes/icon.css" rel="stylesheet" type="text/css" />


    <script src="~/Areas/CodeManager/Content/StuSpeciality/js/specialityPage.js"></script>
    
    <script language="javascript" type="text/javascript">
        function detail() {
            var SelectRow = $('#specialitytablebox').datagrid("getSelected");
            var Selectyear = SelectRow.EntryYear;
            var Selectno = SelectRow.SpeNo;
            
            var s = "/CodeManager/Code/speDetail?sid=@ViewData["sid"]&spe=" + Selectno + ';' + Selectyear +  "";
            window.location = s;
        }
        function update() {
            var SelectRow = $('#specialitytablebox').datagrid("getSelected");
            var Selectyear = SelectRow.EntryYear;
            var Selectno = SelectRow.SpeNo;
            
           
            var s = "/CodeManager/Code/Updatespe?spe=" + Selectno + ';' + Selectyear + "";
            window.location = s;//转到目标网页@Html.ActionLink("修改", "Edit1", new { id = item.newId })这个不行啊我也不知道为什么

        }
    </script>



    <style type="text/css">
        .datagrid-cell {
            text-overflow: ellipsis;
            overflow: hidden;
            text-align: center;
        }
    </style>

</head>
<body>
    <div class="place">
            <span>位置：</span>
            <ul class="placeul">
                <li><a href="#">学生代码维护表</a></li>
                <li><a href="#">专业表</a></li>
            </ul>
        </div>
    <!--用于显示表格-->
    <div id="specialitytable">
        <table id="specialitytablebox"></table>
        <div id="speToolBar">
            <div id="TButton" style="padding:5px;">
                <div>
                    <a href="/CodeManager/Code/Addspe" class="easyui-linkbutton" iconcls="icon-add">添加</a>
                    <a href="#" class="easyui-linkbutton" iconcls="icon-remove" onclick="obj.remove();">删除</a>
                    <a href="#" class="easyui-linkbutton" id="TB2" iconcls="icon-tip"  onclick="detail();">详情</a>
                    <a href="#" class="easyui-linkbutton" iconcls="icon-edit" onclick="update();">修改</a>
                </div>
            </div>
            @*<div>
                    查询新闻：<input type="text" name="SearchNews" style="width=100px;" />
                    <a href="#" class="easyui-linkbutton" iconcls="icon-search" onclick="obj.search();">查询</a>
                </div>*@
            

            <label>
                请根据年级选择：
            </label>
            <select style="width:100px" name="entryyear" class="dfinput" id="changee">
                <option value="--请选择--">--请选择--</option>
                @foreach (var item in ViewBag.entryyear)
                {
                    <option value="@item">@item</option>

                }
            </select>
            <script>


                $("#changee").bind("change", function () {

                    var $name = $("#changee").val();
                    if ($name == "--请选择--") {
                    }
                    else {
                        $('#specialitytablebox').datagrid('load', {

                            classAttribute: "fasong",
                            sid: "@ViewData["sid"]",
                            classValue: $name,
                        });

                    }
                })


            </script>

            </div>
        </div>
    </div>
</body>
</html>


