@charset "utf-8";
/* CSS Document */

a{
	text-decoration:none;
	color:#555;
}
a:hover{
	text-decoration:underline;
	color:#333;
}

.Main{
	width:960px;
	margin:10px auto;
	text-align:center;
	vertical-align:middle;
	color:#555;
	font:0.9em "微软雅黑";	
}

.left_table{
	width:250px;
	float:left;
	line-height:30px;
}

.right_table{
	width:600px;
	float:left;
	line-height:30px;
}

table{
	padding:0px  ;
	
}

table th{
	width:100px;
}

.border{
	border:1px solid #8FBE01;
	box-shadow:0px 1px 1px #8FBE01;
	border-radius:10px;	
	margin-bottom:10px;
}

.mainProcessing{
	width:80px;
	padding: 1px 10px;
	text-align:center;
	/*background-color:#46FFFF;*/
	border:1px solid #B4ABA7;
	/*box-shadow:0px 1px 1px #3FF;*/
	border-radius:8px;	
	color:#555;	
	/*background:-webkit-gradient(linear, 0% 0%, 100% 100%,from(#46FFFF), to(#00E8E8));谷歌*/
	background-image:url(img/bg1.jpg);
	background-position:center;
}

.arrow img{
	width:35px;
	height:40px;
}

.processing{
	width:80px;
	font-size:0.8em;
	background-image:url(img/bg.jpg);
	background-position:center;
	border:1px solid #B4ABA7;
	padding:0px 2px;
	text-align:center;	
	border-radius:10px;	
	color:#999;	
	font-weight:normal;
}	
	
.inner{
	width:60px;
	
}
.inner img{
	height:15px;		
}
.down1 img{
	width:15px;
	height:20px;	
}
.down img{
	width:30px;
	height:30px;	
}
.down2
{
	border-top:1px solid #666;
}
.down2 img{
	width:30px;
	height:20px;
}


	