
@{
    ViewData["title"] = "_TitlePanel";
    ViewData["content"] = "_TitlePanel";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                @ViewData["title"] 
            </div>
            <div class="panel-body">
                <div class="col-lg-12">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-danger m-r-sm">12</button>
                                    红
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary m-r-sm">28</button>
                                    蓝
                                </td>
                                <td>
                                    <button type="button" class="btn btn-info m-r-sm">15</button>
                                    评论
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger m-r-sm">12</button>
                                    红
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-info m-r-sm">20</button>
                                    新闻
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success m-r-sm">40</button>
                                    赞
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger m-r-sm">30</button>
                                    通知
                                </td>
                                <td>
                                    <button type="button" class="btn btn-warning m-r-sm">20</button>
                                    专辑
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-warning m-r-sm">20</button>
                                    专辑
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default m-r-sm">40</button>
                                    群组
                                </td>
                                <td>
                                    <button type="button" class="btn btn-warning m-r-sm">30</button>
                                    权限
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger m-r-sm">30</button>
                                    通知
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

