@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>岗位维护</title>
    <link href="/Areas/CodeManager/Content/All/css/style.css" rel="stylesheet" type="text/css" />
    <script src="~/Areas/CodeManager/Content/Easyui/jquery.min.js"></script>
    <script src="~/Areas/CodeManager/Content/Easyui/jquery.easyui.min.js"></script>
    <script src="~/Areas/CodeManager/Content/Easyui/easyui-lang-zh_CN.js"></script>
    <link href="~/Areas/CodeManager/Content/Easyui/themes/default/easyui.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/CodeManager/Content/Easyui/themes/icon.css" rel="stylesheet" type="text/css" />


    <script src="~/Areas/CodeManager/Content/C_Position/js/Position.js"></script>
    
    <script language="javascript" type="text/javascript">
        function detail() {
            var SelectRow = $('#positiontablebox').datagrid("getSelected");
            var SelectId = SelectRow.PositionID;
            var s = "/CodeManager/Code/detailPosition?id=" + SelectId + "";
            window.location = s;
        }
        function update() {
            var SelectRow = $('#positiontablebox').datagrid("getSelected");
            var SelectId = SelectRow.PositionID;

            var s = "/CodeManager/Code/updatePosition?id=" + SelectId + "";
            window.location = s;
        }
    </script>


    <style type="text/css">
        .datagrid-cell {
            text-overflow: ellipsis;
            overflow: hidden;
            text-align: center;
        }
    </style>

</head>
<body>
    <div class="place">
            <span>位置：</span>
            <ul class="placeul">
                <li><a href="#">企业代码维护表</a></li>
                <li><a href="#">岗位列表</a></li>
            </ul>
        </div>
    <!--用于显示表格-->
    <div id="positiontablebox">
        <table id="positiontable"></table>
        <div id="HomeToolBar">
            <div id="TButton" style="padding:5px;">
                <div>
                    <a href="/CodeManager/Code/AddPosition" class="easyui-linkbutton" iconcls="icon-add">添加</a>
                    <a href="#" class="easyui-linkbutton" iconcls="icon-remove" onclick="obj.remove();">删除</a>
                    <a href="#" class="easyui-linkbutton" id="TB1" iconcls="icon-edit" onclick="update();">修改</a>
                    <a href="#" class="easyui-linkbutton" id="TB2" iconcls="icon-tip"  onclick="detail();">详情</a>
                   
                </div>
            </div>
            @*<div>
                    查询新闻：<input type="text" name="SearchNews" style="width=100px;" />
                    <a href="#" class="easyui-linkbutton" iconcls="icon-search" onclick="obj.search();">查询</a>
                </div>*@
            <input class="easyui-searchbox" data-options="prompt:'搜索内容',menu:'#SearchItem',searcher:doSearch" style="width:300px" name="AtributeSearch"/>
              
                
                 
            <div id="SearchItem">
                <div data-options="name:'all',iconCls:'icon-ok'">请选择搜索条件</div>
                <div data-options="name:'PositionID'">岗位编号</div>
                
                <div data-options="name:'PositionName'">岗位名称</div>

                <script>
                    function doSearch(value, name) {
                        //alert('You input: ' + value + '(' + name + ')');
                        $('#positiontablebox').datagrid('load', {
                            classAttribute: name,
                            classValue: value,
                        });
                    }
                </script>
            </div>
        </div>
    </div>
</body>
</html>

