@model ServicePlatform.Areas.Wbs.ViewModels.CRUD.Test
@{

    Layout = ViewData["Layout"].ToString();
}

<div class="form-group">
    <label class="">Radio</label>
    <div class="radio-list">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> Option 1 Option 1
        </label>
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> Option 2
        </label>
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled> Disabled
        </label>
    </div>
</div>

<div class="form-group">
    <label class="">Checkboxes</label>
    <div class="checkbox-list">
        <label>
            <input type="checkbox"> Checkbox 1
        </label>
        <label>
            <input type="checkbox"> Checkbox 2
        </label>
        <label>
            <input type="checkbox" disabled> Disabled
        </label>
    </div>
</div>