
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>添加记录</title>
    <link href="/Areas/Permission/Content/css/style.css" rel="stylesheet" />
</head>

<body>

    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">添加记录</a></li>
        </ul>
    </div>


    <form action="@ViewBag.actionLink" method="post">

        <input name="objName" value="ServicePlatform.Areas.Permission.Models.User" type="text" hidden="hidden" class="dfinput" />


        <div class="formbody">

            <div class="formtitle"><span>添加单位及其管理员</span></div>

            <ul class="forminfo">
                <li>
                    <label>单位管理员工号</label>
                    <input name="UserID" type="text" class="dfinput" />
                    <i>*请输入 单位管理员工号</i>
                </li>
                <li>
                    <label>单位管理员姓名</label>
                    <input name="NickName" type="text" class="dfinput" />
                    <i>*请输入 单位管理员姓名</i>
                </li>
               


                <li>
                    <label>单位管理员密码</label>
                    <input name="UserPwd" type="password" class="dfinput" />
                    <i>*请输入 单位管理员密码</i>
                </li>
                <li>
                    <label>确认密码</label>
                    <input name="UserPwd2" type="password" class="dfinput" />
                    <i>*请再次输入 单位管理员密码</i>
                </li>



                <li>
                    <label>单位编号</label>
                    <input name="UnitCode" type="text" class="dfinput" />
                    <i>*学校用户填写学校代码,企业用户填写企业代码</i>
                </li>
                <li>
                    <label>用户类型</label>
                    <select name="UserType" style="width: 80px;" class="dfinput">
                        <option value="3">企业</option>
                        <option value="5">高校</option>
                    </select>
                     <i>*选择用户类型</i>
                </li>
                <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="保存" /></li>

            </ul>


        </div>
    </form>


    <!-- Visual Studio Browser Link -->
    <script type="application/json" id="__browserLink_initializationData">
        {"appName":"Firefox","requestId":"859ba9c282b1492e8a969f34cadcbfb0"}
    </script>
    <script type="text/javascript" src="http://localhost:63937/a27a6831ae51458080499987be53146b/browserLink" async="async"></script>
    <!-- End Browser Link -->

</body>

</html>




