body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:336px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:87px;
  top:10px;
  width:249px;
  height:380px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:380px;
}
#u1 {
  position:absolute;
  left:2px;
  top:182px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:211px;
  top:58px;
  width:116px;
  height:26px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:26px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:95px;
  top:58px;
  width:116px;
  height:26px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:26px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:87px;
  top:10px;
  width:249px;
  height:40px;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:40px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:205px;
  top:58px;
  width:10px;
  height:26px;
}
#u8_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u8_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u8_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:26px;
}
#u9 {
  position:absolute;
  left:125px;
  top:64px;
  width:53px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:241px;
  top:64px;
  width:53px;
  height:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:180px;
  top:24px;
  width:80px;
  height:19px;
  font-size:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:95px;
  top:93px;
  width:66px;
  height:22px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u16 {
  position:absolute;
  left:170px;
  top:94px;
  width:80px;
  height:22px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u17 {
  position:absolute;
  left:258px;
  top:94px;
  width:69px;
  height:22px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u18 {
  position:absolute;
  left:95px;
  top:119px;
  width:232px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:95px;
  top:136px;
  width:232px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:95px;
  top:153px;
  width:232px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:95px;
  top:170px;
  width:232px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:95px;
  top:187px;
  width:232px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:91px;
  top:23px;
  width:35px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
