@using Qx.Tools.Web.Mvc.Html
@model ServicePlatform.Areas.WbsHqu.ViewModels.ProofMaterial_M
@{
    ViewBag.Title = "ProofMaterial";
}
@if (Model.note.HasValue())
{

    <h2> @(new HtmlString(Model.note)) </h2>

}
@foreach (var item in Model._contentArray)
{
    <img src="@item" />
}