@Styles.Render("/Areas/School/SchoolContent/SchoolHomePage/Foot/footer.css")

<div id="HomeIndexFoot">
    <!--footer-->
    <footer id="footer">
        <div>
            <ul>
                <li><a href="#">关于我们</a></li>
                <li><a href="#">联系我们</a></li>
                <li><a href="#">服务协议</a></li>
                <li><a href="#">帮助中心</a></li>
            </ul>
            <div style="clear:both;"></div>
            <p>copyright &copy; 2015 - 2020 华侨大学版权所有</p>

        </div>
    </footer>
</div>