@Styles.Render("/Areas/School/SchoolContent/SchoolHomePage/head/header.css")

<div id="HomeIndexHead">
    <!-- header -->
    <header id="header" class="">
        <div class="header-top-blank ">
            <!-- logo -->
            <a class="header-logo" href="#" title="">
                <img src="/Areas/School/SchoolContent/SchoolHomePage/head/img/logo.png" width="80" height="80" alt="旅游学院顶岗实习管理系统" />
                <p>旅游学院顶岗实习管理系统</p>
            </a>
            <!--检索-->
            <div class="header-search">
                <form action="#" method="post">
                    <div>
                        <label for="products">搜索：</label>
                        <input type="text" id="products" name="products" placeholder="你想找什么，输入关键词试试" class="header-search-style" />
                        <input type="submit" name="ensure2" value="搜索" />
                    </div>
                </form>
            </div>

        </div>
    </header>
    <!-- /header -->
    <!-- 导航 -->
    <nav class="main-nav  ">
        <div class="nav-inner">
            <ul class="main-nav-link" id="top-nav-div">
                <li>
                    <!-- demo -->
                    <a href="/School/SchoolHomePage/Index">首页</a>
                </li>
                <li><a href="#">规章制度</a></li>

                <li><a href="#">实习公告</a></li>

                <li><a href="#">实习企业</a></li>

                <li><a href="#">实习日记</a></li>

                <li><a href="#">实习辅导</a></li>

                <li><a href="#">招聘信息</a></li>

                <li><a href="#">资料下载</a></li>

                <li><a href="#">实习论坛</a></li>

            </ul>
        </div>
    </nav>
</div>
