<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>欢迎页</title>
    <link href="~/Areas/Platform/Content/Admin/EnterpriseWelcome/Map_ENP.CSS" rel="stylesheet" />
</head>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>网站地图——企业端</title>
<link href="Map_ENP.CSS" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="Main">    	
        <div class="left_table">
       	  <table border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="mainProcessing"><a href="#">员工管理</a></td>
                    <td class="inner"><img src="/Areas/Platform/Content/Admin/EnterpriseWelcome/img/arrow.png"/></td>
                  </tr>
                  <tr>
                    <td height="30" class="arrow">&nbsp;</td>
                    <td  >&nbsp;</td>
                  </tr>
                  <tr>
                    <td class="mainProcessing"><a href="#">企业资源管理</a></td>
                    <td class="inner"><img src="/Areas/Platform/Content/Admin/EnterpriseWelcome/img/arrow.png"/></td>
                  </tr>
                  <tr>
                    <th height="30"class="arrow" scope="row">&nbsp;</th>
                  </tr>
                  <tr>
                    <td class="mainProcessing"><a href="#">实习批次管理</a></td>
                    <td class="inner"><img src="/Areas/Platform/Content/Admin/EnterpriseWelcome/img/arrow.png"/></td>
                  </tr>
                  <tr>
                    <th class="arrow" scope="row"><img src="/Areas/Platform/Content/Admin/EnterpriseWelcome/img/down.png"/></th>
                  </tr>
                  <tr>
                    <td class="mainProcessing"><a href="#">实习报名</a></td>
                    <td class="inner"><img src="/Areas/Platform/Content/Admin/EnterpriseWelcome/img/arrow.png"/></td>
                  </tr>
                   <tr>
                    <th height="35" class="arrow" scope="row"><img src="/Areas/Platform/Content/Admin/EnterpriseWelcome/img/down.png"/></th>
            </tr>
                  <tr>
                    <td class="mainProcessing"><a href="#">实习过程</a></td>
                    <td class="inner"><img src="/Areas/Platform/Content/Admin/EnterpriseWelcome/img/arrow.png"/></td>
                  </tr>
                  <tr>
                    <th height="81"  class="arrow" scope="row"><img src="img/down.png"/></th>
                  </tr>
                  <tr>
                    <td class="mainProcessing"><a href="#">就业招聘</a></td>
                    <td class="inner"><img src="/Areas/Platform/Content/Admin/EnterpriseWelcome/img/arrow.png"/></td>
                  </tr>
          </table>

        </div><!--/left_table-->
        
        <div class="right_table">
        	<table cellpadding="0" cellspacing="0">
                  <tr>
                    <td height="65" scope="row">
                    <div class="border">
                    	<table border="0" cellpadding="0" cellspacing="4">
                              <tr>
                                <td class="processing"><a href="#">员工维护</a></td>
                                <td class="inner">&nbsp;</td>
                                <td class="processing"><a href="#">权限指派</a></td>
                                <td  class="inner">&nbsp;</td>
                                <td class="processing"><a href="#">企业资料</a></td>
                                <td  class="inner">&nbsp;</td>
                                <td class="processing"><a href="#">印章管理</a></td>
                              </tr>
                        </table>
                    </div>
                    </td>
                  </tr>
                  
                  <tr>
                    <td height="68" scope="row" >
                    <div class="border">
                    	<table border="0" cellpadding="0" cellspacing="4">
                              <tr>
                                <td class="processing"><a href="#">新闻管理</a></td>
                                <td class="inner"><img src="/Areas/Platform/Content/Admin/EnterpriseWelcome/img/arrow.png"/></td>
                                <td class="processing"><a href="#">文件管理</a></td>
                                <td class="inner"><img src="/Areas/Platform/Content/Admin/EnterpriseWelcome/img/arrow.png"/></td>
                                <td class="processing"><a href="#">首页管理</a></td>
                              </tr>
                        </table>
                    </div>
                    </td>
                  </tr>
                  <tr>
                    <td height="65" scope="row">
                    <div class="border">
                    	<table border="0" cellpadding="0" cellspacing="4">
                              <tr>
                                <td  class="processing"><a href="#">加入高校批次</a></td>
                                <td class="inner">&nbsp;</td>
                                <td  class="processing"><a href="#">实习岗位发布</a></td>                                
                              </tr>
                             
                        </table>
                    </div>
                    </td>
                  </tr>
                  <tr>
                    <td scope="row">
                    <div class="border">
                    	<table border="0" cellpadding="0" cellspacing="4">
                              <tr>
                                <td class="processing"><a href="#">查看报名</a></td>
                                <td class="inner"><img src="/Areas/Platform/Content/Admin/EnterpriseWelcome/img/arrow.png"/></td>
                                <td class="processing"><a href="#">安排面试</a></td>
                                <td class="inner"><img src="/Areas/Platform/Content/Admin/EnterpriseWelcome/img/arrow.png"/></td>
                                <td class="processing"><a href="#">面试记录</a></td>
                                <td class="inner"><img src="/Areas/Platform/Content/Admin/EnterpriseWelcome/img/arrow.png"/></td>
                                <td class="processing"><a href="#">录取/婉拒</a></td>
                                <td class="inner"><img src="/Areas/Platform/Content/Admin/EnterpriseWelcome/img/arrow.png"/></td>
                                <td class="processing"><a href="#">学生确认</a></td>
                              </tr>
                        </table>
                    </div>
                    </td>
                  </tr>
                  <tr>
                    <td scope="row">
                    <div class="border">
                    	<table border="0" cellpadding="0" cellspacing="4">
                        	  <tr>
                              	 <td >&nbsp;</td>
                                <td class="inner">&nbsp;</td>
                                <td >&nbsp;</td>
                                <td  class="inner">&nbsp;</td>
                                <td >&nbsp;</td>
                                <td  class="inner">&nbsp;</td>
                                <td class="processing"><a href="#">评分项目设置</a></td>
                              <tr>
                              <tr>
                              	 <td >&nbsp;</td>
                                <td class="inner">&nbsp;</td>
                                <td >&nbsp;</td>
                                <td  class="inner">&nbsp;</td>
                                <td >&nbsp;</td>
                                <td  class="inner">&nbsp;</td>
                                <td class="down1"><img src="../学生端/img/down.png"/></td>
                              <tr>
                                <td class="processing"><a href="#">查看资料</a></td>
                                <td class="inner">&nbsp;</td>
                                <td class="processing"><a href="#">岗位改派</a></td>
                                <td  class="inner">&nbsp;</td>
                                <td class="processing"><a href="#">实习考核</a></td>
                                <td  class="inner">&nbsp;</td>
                                <td class="processing"><a href="#">实习评分</a></td>
                              </tr>
                        </table>
                    </div>
                    </td>
                  </tr>
                  
                  <tr>
                    <td scope="row">
                    <div class="border">
                    	<table border="0" cellpadding="0" cellspacing="4">
                        	  <tr>
                              	 <td >&nbsp;</td>
                                <td class="inner">&nbsp;</td>
                                <td >&nbsp;</td>
                                 <td class="inner">&nbsp;</td>
                                <td class="processing"><a href="#">投递简历</a></td>
                                <td class="inner"><img src="/Areas/Platform/Content/Admin/EnterpriseWelcome/img/arrow.png"/></td>
                                <td class="processing"><a href="#">招聘岗位发布</a></td>
                              <tr>
                              <tr>
                              	 <td >&nbsp;</td>
                                <td class="inner">&nbsp;</td>
                                <td >&nbsp;</td>
                                <td  class="inner">&nbsp;</td>
                                <td ><span class="down1"><img src="/Areas/Platform/Content/Admin/EnterpriseWelcome/img/down.png" alt=""/></span></td>
                                <td  class="inner">&nbsp;</td>
                                <td class="down1"><img src="/Areas/Platform/Content/Admin/EnterpriseWelcome/img/down.png"/></td>
                              <tr>
                                <td class="processing"><a href="#">人才库浏览申请</a></td>
                                <td class="inner"><img src="/Areas/Platform/Content/Admin/EnterpriseWelcome/img/arrow.png"/></td>
                                <td class="processing"><a href="#">寻找人才</a></td>
                                 <td class="inner"><img src="/Areas/Platform/Content/Admin/EnterpriseWelcome/img/arrow.png"/></td>
                                <td class="processing"><a href="#">面试/邀请</a></td>
                                <td class="inner"><img src="/Areas/Platform/Content/Admin/EnterpriseWelcome/img/arrow.png"/></td>
                                <td class="processing"><a href="#">学生确认</a></td>
                              </tr>
                        </table>
                    </div>
                    </td>
                  </tr>
          </table>

        </div><!--/right_table-->
        
    </div><!--/Main-->
</body>
</html>
