<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>欢迎页</title>
    <link href="~/Areas/Platform/Content/Admin/SchoolWelcome/Map_STD.CSS" rel="stylesheet" />
</head>

<body>
    <div class="Main">
        <div class="left_table">
            <table border="0" cellspacing="20" cellpadding="0">
                <tr>
                    <td class="mainProcessing"><a href="#">日常</a></td>
                    <td class="inner"><img src="/Areas/Platform/Content/Admin/SchoolWelcome/img/arrow.png" /></td>

                </tr>
                <tr>
                    <td height="40" class="arrow"><img src="/Areas/Platform/Content/Admin/SchoolWelcome/img/down.png" /></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="mainProcessing"><a href="#">实习报名</a></td>
                    <td class="inner"><img src="/Areas/Platform/Content/Admin/SchoolWelcome/img/arrow.png" /></td>
                </tr>
                <tr>
                    <th height="50" class="arrow" scope="row"><img src="/Areas/Platform/Content/Admin/SchoolWelcome/img/down.png" /></th>
                </tr>
                <tr>
                    <td class="mainProcessing"><a href="#">实习过程</a></td>
                    <td class="inner"><img src="/Areas/Platform/Content/Admin/SchoolWelcome/img/arrow.png" /></td>
                </tr>
                <tr>
                    <th height="65" class="arrow" scope="row"><img src="/Areas/Platform/Content/Admin/SchoolWelcome/img/down.png" /></th>
                </tr>
                <tr>
                    <td class="mainProcessing"><a href="#">就业招聘</a></td>
                    <td class="inner"><img src="/Areas/Platform/Content/Admin/SchoolWelcome/img/arrow.png" /></td>
                </tr>
            </table>

        </div><!--/left_table-->

        <div class="right_table">
            <table width="450" cellpadding="0" cellspacing="0">
                <tr>
                    <th scope="row">
                        <div class="border">
                            <table border="0" cellpadding="0" cellspacing="10">
                                <tr>
                                    <td class="processing"><a href="/Enterprise/Home/ChgPsw?pageId=M1-1">密码维护</a></td>
                                    <td class="inner">&nbsp;</td>
                                    <td class="processing"><a href="/School/S_StuBaseInformation/BaseInfoMaintan?pageId=M1-2">个人信息</a></td>
                                    <td class="inner">&nbsp;</td>
                                    <td class="processing"><a href="/DownLoadFile/DLList/DLTabListByEasyUi?pageId=M2-3">文件下载</a></td>
                                </tr>
                            </table>
                        </div>
                    </th>
                </tr>

                <tr>
                    <th scope="row">
                        <div class="border">
                            <table border="0" cellpadding="0" cellspacing="10">
                                <tr>
                                    <td class="processing"><a href="/School/S_PraEnrollManager/menuLinkToEnrollEnt?pageId=M13-4">了解企业</a></td>
                                    <td class="inner"><img src="/Areas/Platform/Content/Admin/SchoolWelcome/img/arrow.png" /></td>
                                    <td class="processing"><a href="/School/S_PraEnrollManager/IWantPrac?pageId=M13-5">预报名</a></td>
                                    <td class="inner"><img src="/Areas/Platform/Content/Admin/SchoolWelcome/img/arrow.png" /></td>
                                    <td class="processing"><a href="/School/S_PraEnrollManager/IWantPrac?pageId=M13-5">正式报名</a></td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td class="down1"><img src="/Areas/Platform/Content/Admin/SchoolWelcome/img/down.png" /></td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td class="processing"><a href="/School/S_PraEnrollManager/ConfirmVolunteer?pageId=M13-6">同意录取</a></td>
                                    <td class="inner"><img src="/Areas/Platform/Content/Admin/SchoolWelcome/img/arrow1.png" /></td>
                                    <td class="processing"><a href="/School/S_PraEnrollManager/ConfirmVolunteer?pageId=M13-6">面试结果</a></td>
                                </tr>
                            </table>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th scope="row">
                        <div class="border">
                            <table border="0" cellpadding="0" cellspacing="10">
                                <tr>
                                    <td class="processing"><a href="/School/S_MyWorkPlat/MenuLinkToMyWorkPlat?pageId=M14-3">实习周记</a></td>
                                    <td class="inner">&nbsp;</td>
                                    <td class="processing"><a href="/School/S_MyWorkPlat/MenuLinkToMyWorkPlat?pageId=M14-3">实习案例</a></td>
                                    <td class="inner">&nbsp;</td>
                                    <td class="processing"><a href="/School/S_MyWorkPlat/MenuLinkToMyWorkPlat?pageId=M14-3">实习报告</a></td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="down2"><img src="/Areas/Platform/Content/Admin/SchoolWelcome/img/down.png" /></td>
                                </tr>
                                <tr>
                                    <td colspan="5">
                                        <table width="209" height="30" align="center">
                                            <tr>
                                                <td width="85" class="processing"><a href="/School/S_MyWorkPlat/StuEvaluateEnt?pageId=M14-4">评价企业</a></td>
                                                <td width="18">&nbsp;</td>
                                                <td width="85" class="processing"><a href="/School/S_MyWorkPlat/StuEvaluateSchool?pageId=M14-5">评价学校</a></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th scope="row">
                        <div class="border">
                            <table border="0" cellpadding="0" cellspacing="10">
                                <tr>
                                    <td class="processing"><a href="/School/S_EmployeManager/MyResume?pageId=M16-9(ST)">上传简历</a></td>
                                    <td class="inner"><img src="/Areas/Platform/Content/Admin/SchoolWelcome/img/arrow.png" /></td>
                                    <td class="processing"><a href="/School/S_EmployeManager/MyResume?pageId=M16-9(ST)">投放简历</a></td>
                                    <td class="inner">&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td><span class="down1"><img src="/Areas/Platform/Content/Admin/SchoolWelcome/img/down.png" /></span></td>
                                    <td>&nbsp;</td>
                                    <td class="down1">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td class="processing"><a href="/School/S_EmployeManager/EnterTalentPool?pageId=M16-8">开放资料</a></td>
                                    <td><span class="inner"><img src="/Areas/Platform/Content/Admin/SchoolWelcome/img/arrow.png" /></span></td>
                                    <td class="processing"><a href="/School/S_EmployeManager/MyResume?pageId=M16-9(ST)">求职结果</a></td>
                                    <td class="inner"><img src="/Areas/Platform/Content/Admin/SchoolWelcome/img/arrow.png" /></td>
                                    <td class="processing"><a href="/School/S_EmployeManager/StuFinalEntRecord?pageId=M16-13">终录单位登记</a></td>
                                </tr>
                            </table>
                        </div>
                    </th>
                </tr>

            </table>

        </div><!--/right_table-->

    </div><!--/Main-->
</body>
</html>