@{
    ViewBag.Title = "Top";
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>头部</title>
    <link href="~/Areas/Platform/Content/Admin/css/style.css" rel="stylesheet" />

  
    <script src="~/Areas/Platform/Content/Admin/js/jquery.js"></script>
  
    <script type="text/javascript">
        $(function() {
            //顶部导航切换
            $(".nav li a").click(function() {
                $(".nav li a.selected").removeClass("selected")
                $(this).addClass("selected");
            });
        });


    </script>


</head>

<body style="background: url(/Areas/Platform/Content/Admin/images/topbg.gif) repeat-x;">

    <div class="topleft">
        <a href="/Home/Index" target="_parent"><img src="/Areas/School/Content/Home/img/logo.png" title="系统首页" /></a>
    </div>

    @*<ul class="nav">
        <li><a href="default.html" target="rightFrame" class="selected"><img src="/Areas/Platform/Content/Admin/images/icon01.png" title="工作台" /><h2>工作台</h2></a></li>
        <li><a href="imgtable.html" target="rightFrame"><img src="/Areas/Platform/Content/Admin/images/icon02.png" title="模型管理" /><h2>模型管理</h2></a></li>
        <li><a href="imglist.html" target="rightFrame"><img src="/Areas/Platform/Content/Admin/images/icon03.png" title="模块设计" /><h2>模块设计</h2></a></li>
        <li><a href="tools.html" target="rightFrame"><img src="/Areas/Platform/Content/Admin/images/icon04.png" title="常用工具" /><h2>常用工具</h2></a></li>
        <li><a href="computer.html" target="rightFrame"><img src="/Areas/Platform/Content/Admin/images/icon05.png" title="文件管理" /><h2>文件管理</h2></a></li>
        <li><a href="tab.html" target="rightFrame"><img src="/Areas/Platform/Content/Admin/images/icon06.png" title="系统设置" /><h2>系统设置</h2></a></li>
    </ul>*@

    <div class="topright">
        <ul>
            <li><span><img src="/Areas/Platform/Content/Admin/images/help.png" title="帮助" class="helpimg" /></span><a href="/WbsHqu/Admin/ShowFAQList" target="_blank">帮助</a></li>
            <li><a href="#">关于</a></li>
            <li><a onclick='parent.window.location.href="/Platform/Admin/Index"'>网站地图</a></li>
            <li><a href="/Platform/Home/LoginOut" target="_parent">退出</a></li>
        </ul>

        <div class="user">
            <span>@((Session["Vars"] as ServicePlatform.Config.Vars).UserID??"登录已过期！")</span>
            <i>消息</i>
            <b>@((Session["Vars"] as ServicePlatform.Config.Vars).msgCount)</b>
        </div>

    </div>

</body>
</html>

