<div class="formtitle"><span>选择志愿/岗位顺序:  </span></div>
<select id="volunteer" name="volunteer" class="dfinput">

    <option value="firstv">第一志愿</option>
    <option value="secondv">第二志愿</option>
</select>

<select id="vorder" name="vorder" class="dfinput">
    <option value="1">1</option>
    <option value="2">2</option>
</select>