@{
    ViewBag.Title = "detailProPosition";
}

<!DOCTYPE html>



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>职称详情</title>

    <script src="~/Areas/CodeManager/Content/Easyui/jquery.min.js"></script>
    
    <link href="/Areas/CodeManager/Content/All/css/style.css" rel="stylesheet" type="text/css" />
    
    


</head>
<body>
    <div class="place">
            <span>位置：</span>
            <ul class="placeul">
                <li><a href="#">职称代码管理</a></li>
                <li><a href="#">查看职称详情</a></li>
            </ul>
        </div>

    <div class="formbody">

            <div class="formtitle"><span>查看职称</span></div>
            

   
        
           <ul class="forminfo">
               
               
           
       
        <li>
                   <label>职称编号:</label>
                <input type="text" name="ProPosID" id="ProPosID" class="dfinput" value="@ViewBag.detail.ProPosID" readonly="readonly">
         </li>
            

                <li>
                   <label>职称名称:</label>
                <input type="text" id="ProPosName"  name="ProPosName"class="dfinput"value="@ViewBag.detail.ProPosName"readonly="readonly">
         </li>
                
            
 <li>  
                  
                  <label>&nbsp;</label><button id="button1" class="btn">返 回</button>
               
            </li>
               </ul>
            
    
   
    </div>
     
    <script>
        $("#button1").bind("click", function () {
            var s = "C_ProPosition1";
            window.location = s;


        })




    </script>

</body>
</html>

